# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\BlueberryCode\PycharmProjects\microblog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# My files to ignore
C:\Users\BlueberryCode\PycharmProjects\microblog\.env
C:\Users\BlueberryCode\PycharmProjects\microblog\.vagrant\machines\default\virtualbox\private_key

