    {% if posts %}
    <br>
        <table>
            <tr>
                <th>Author</th>
                <th>Comment</th>
            </tr>
            {% for post in posts %}
                <tr>
{#                    <td>{{ post.author.username }}</td>#}

                    <td>
                        <a href="{{ url_for('user_profile', username=post.author.username) }}">{{ post.author.username }}</a>
                    </td>

                    <td>{{ post.body }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}